.form-submit {
    width: 100%;
    padding: 16px 0;
    border-radius: 8px;
    background-color: var(--accent-blue);
    border: none;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: var(--primary-white);
    cursor: pointer;
}