.sidebar-button {
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.05em;
    border-radius: 8px;
    text-align: center;
    width: 100%;
    word-wrap: break-word;
    border: 2px solid var(--accent-red);
    color: var(--primary-white);
    background-color: var(--accent-red);
    padding: 8px 7px
}