.sidebar-link {
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.05em;
    border: 2px solid var(--secondary-white);
    border-radius: 8px;
    padding: 8px;
    text-align: center;
    color: var(--primary-black);
    width: calc(100% - 16px);
    word-wrap: break-word;
}