.institute-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 16px;
    width: calc(100% - 36px);
    background-color: var(--primary-white);
    border-radius: 8px;
    border: 2px solid var(--primary-black);
    padding: 16px;
    &--heading {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 8px;
        width: 100%;
        &__title {
            font-weight: 600;
            font-size: 24px;
            letter-spacing: 0.05em;
        }
    }
    &--actions {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 8px;
        &__delete,
        &__edit {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 8px;
            border: 2px solid var(--primary-black);
            width: 38px;
            height: 38px;
            background: linear-gradient(to right, var(--primary-black) 50%, var(--primary-white) 50%);
            background-size: 200% 100%;
            background-position: 100%;
            transition: background-position 200ms ease;
            cursor: pointer;
            &:hover {
                color: var(--primary-white);
                background-position: 0 100%;
                svg {
                    path {
                        fill: var(--primary-white);
                    }
                }
            }
        }
    }
    &--info {
        font-weight: 600;
        font-size: 16px;
        letter-spacing: 0.05em;
    }
    &--link {
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 0.05em;
        color: var(--primary-black);
        border: 2px solid var(--primary-black);
        border-radius: 8px;
        padding: 8px;
        background: linear-gradient(to right, var(--primary-black) 50%, var(--primary-white) 50%);
        background-size: 200% 100%;
        background-position: 100%;
        transition: background-position 275ms ease;
        cursor: pointer;
        &:hover {
            color: var(--primary-white);
            background-position: 0 100%;
        }
    }
}

.institute-delete {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    &--title {
        font-weight: 700;
        font-size: 24px;
        letter-spacing: 0.05em;
    }
    &--buttons {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
        width: calc(100% - 3px);
    }
    &--link {
        width: 100%;
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 0.05em;
        color: var(--primary-black);
        border: 2px solid var(--primary-black);
        border-radius: 8px;
        padding: 8px 0;
        text-align: center;
        background: linear-gradient(to right, var(--primary-black) 50%, var(--primary-white) 50%);
        background-size: 200% 100%;
        background-position: 100%;
        transition: background-position 275ms ease;
        &:hover {
            color: var(--primary-white);
            background-position: 0 100%;
        }
    }
}