:root {
    --primary-white: #FFFFFF;
    --primary-black: #3B3B3B;
    --secondary-white: hwb(0 89% 11%);
    --accent-blue: #00A0DC;
    --accent-red: #F05353;
    --accent-prange: #F07953;
    --accent-green: #1BAD4D;
    --accent-yellow: #FFB82E;
}