.moderation-block {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    border-radius: 8px;
    border: 2px solid var(--primary-black);
    margin-top: 16px;
    padding: 16px;
    background-color: var(--primary-white);
    width: calc(100% - 36px);
    &--title {
        font-weight: 600;
        font-size: 32px;
        letter-spacing: 0.05em;
    }
    &--users {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px
    }
}